<a href="https://colab.research.google.com/github/pratik443/F-score-Momentum_implemetation/blob/main/momentum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 12.8 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.5 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [2]:
import yfinance as yf
import pandas as pd
import sqlalchemy
import datetime as dt
from pandas.tseries.offsets import MonthEnd
import numpy as np
from scipy.stats import percentileofscore as score
from statistics import mean
from math import floor

In [3]:
tickersNIFTY = pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[1].Symbol.to_list()

In [4]:
tickersNIFTY

['ADANIPORTS',
 'APOLLOHOSP',
 'ASIANPAINT',
 'AXISBANK',
 'BAJAJ-AUTO',
 'BAJFINANCE',
 'BAJAJFINSV',
 'BHARTIARTL',
 'BPCL',
 'BRITANNIA',
 'CIPLA',
 'COALINDIA',
 'DIVISLAB',
 'DRREDDY',
 'EICHERMOT',
 'GRASIM',
 'HCLTECH',
 'HDFC',
 'HDFCBANK',
 'HDFCLIFE',
 'HEROMOTOCO',
 'HINDALCO',
 'HINDUNILVR',
 'ICICIBANK',
 'INDUSINDBK',
 'INFY',
 'ITC',
 'JSWSTEEL',
 'KOTAKBANK',
 'LT',
 'M&M',
 'MARUTI',
 'NESTLEIND',
 'NTPC',
 'ONGC',
 'POWERGRID',
 'RELIANCE',
 'SBIN',
 'SBILIFE',
 'SHREECEM',
 'SUNPHARMA',
 'TATAMOTORS',
 'TATASTEEL',
 'TCS',
 'TATACONSUM',
 'TECHM',
 'TITAN',
 'ULTRACEMCO',
 'UPL',
 'WIPRO']

In [5]:
data = []

for symb in tickersNIFTY:
  data.append(yf.download(f'{symb}.BO').reset_index())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
engine = sqlalchemy.create_engine('sqlite:///India.db')

In [7]:
for frame,symbol in zip(data,tickersNIFTY):
  frame.to_sql(symbol, engine, index=False)

In [8]:
df = pd.DataFrame()

In [9]:
for name in tickersNIFTY:
  df = df.append(pd.read_sql(f'SELECT Date, "Adj Close" AS "{name}" FROM "{name}" WHERE Date > "2012-01-01"',engine))

In [10]:
df = df.groupby('Date').sum()

In [11]:
df.index = pd.to_datetime(df.index)

In [12]:
df.index = pd.to_datetime(df.index)

In [13]:
prices = df.resample('M').last()
prices

,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJFINANCE,BAJAJFINSV,BHARTIARTL,BPCL,BRITANNIA,...,SUNPHARMA,TATAMOTORS,TATASTEEL,TCS,TATACONSUM,TECHM,TITAN,ULTRACEMCO,UPL,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-31,138.358261,575.490662,276.330383,200.633911,1236.382202,69.586266,437.430542,319.444336,56.602474,200.084305,...,257.449036,234.054825,338.069336,466.726379,0.0,135.204758,190.625732,1170.276245,87.089500,139.866577
2012-02-29,140.881454,554.583740,293.226044,220.030518,1389.293823,73.006119,627.380859,305.743835,65.640823,228.379700,...,258.530212,260.189026,353.623505,504.109894,0.0,124.520317,215.549362,1356.602783,91.755531,146.127945
2012-03-31,122.553070,611.180786,299.502380,214.025696,1295.809204,75.486542,594.604065,294.800995,69.266090,262.569092,...,267.720673,264.897064,352.611542,482.146240,0.0,149.302002,215.408035,1455.973633,76.782875,148.581772
2012-04-30,119.324249,581.231628,325.278473,206.685425,1253.488525,80.035538,723.571960,269.282257,66.502571,247.634796,...,283.163330,304.338562,347.551727,497.669403,0.0,145.266815,219.506973,1368.873169,65.728622,137.108139
2012-05-31,116.807663,638.068054,373.218231,181.461456,1168.460083,78.378838,637.739258,264.467316,68.988747,236.400818,...,266.780396,224.062332,301.976135,514.328003,0.0,139.136230,209.989853,1368.583374,66.418304,138.614273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31,730.349976,5012.600098,3381.949951,678.549988,3250.800049,6976.899902,16390.199219,683.849976,380.376373,3606.699951,...,838.779053,482.350006,1111.500000,3730.294678,0.0,1790.550049,2524.350098,7591.950195,747.049988,708.141479
2022-01-31,716.150024,4456.700195,3154.699951,773.099976,3554.750000,7002.149902,15689.849609,729.400024,391.723541,3534.899902,...,827.617188,517.500000,1085.449951,3737.899902,0.0,1479.349976,2360.899902,7214.450195,776.349976,567.921265
2022-02-28,707.650024,4801.549805,3172.649902,742.599976,3530.850098,7001.850098,16007.349609,686.250000,349.750000,3427.850098,...,843.349976,454.149994,1220.900024,3554.550049,0.0,1411.000000,2544.649902,6569.750000,665.700012,551.259949
2022-03-31,774.099976,4516.250000,3081.750000,760.650024,3652.500000,7259.100098,17052.150391,755.400024,359.200012,3204.300049,...,914.799988,433.500000,1307.050049,3738.800049,0.0,1499.300049,2536.149902,6602.149902,769.700012,587.111511
2022-04-30,885.200012,4551.549805,3228.800049,767.799988,3848.149902,6666.250000,14788.000000,750.799988,367.450012,3332.500000,...,911.900024,431.899994,1249.050049,3555.300049,805.5,1262.250000,2500.449951,6594.500000,817.000000,519.950012

### I'm thinking of applyong strategy 12/1,3,6. skipping 1 month to avoid the lag effect

In [15]:
#lets from portfolio
formation = pd.datetime(2013,2,28)
formation

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

datetime.datetime(2013, 2, 28, 0, 0)

In [16]:
begin_mes = formation-MonthEnd(12)

In [17]:
end_mes = formation-MonthEnd(1) # to avoid lag effect

In [20]:
prices_end = prices.loc[end_mes]
prices_end

ADANIPORTS     143.325363
APOLLOHOSP     774.840637
ASIANPAINT     420.825134
AXISBANK       285.498627
BAJAJ-AUTO    1611.835449
BAJFINANCE     124.587746
BAJAJFINSV     842.575745
BHARTIARTL     298.244690
BPCL            82.476418
BRITANNIA      217.876831
CIPLA          391.965179
COALINDIA      165.263611
DIVISLAB       479.399017
DRREDDY       1799.928833
EICHERMOT      267.251068
GRASIM         474.108795
HCLTECH        143.892258
HDFC           695.175659
HDFCBANK       303.534485
HDFCLIFE         0.000000
HEROMOTOCO    1390.507446
HINDALCO       108.169197
HINDUNILVR     407.455231
ICICIBANK      192.639557
INDUSINDBK     417.101135
INFY           279.941559
ITC            161.999481
JSWSTEEL        77.443115
KOTAKBANK      337.144104
LT             589.934143
M&M            416.909546
MARUTI        1461.247437
NESTLEIND     4203.673828
NTPC            86.781250
ONGC           155.032852
POWERGRID       84.673645
RELIANCE       414.389954
SBIN           225.409988
SBILIFE          0.000000
SHREECEM      4312.066406
SUNPHARMA      339.764832
TATAMOTORS     291.484528
TATASTEEL      312.240540
TCS            561.852661
TATACONSUM       0.000000
TECHM          208.485580
TITAN          265.492920
ULTRACEMCO    1846.413574
UPL             80.120819
WIPRO          141.289948
Name: 2013-01-31 00:00:00, dtype: float64

In [21]:
prices_begin = prices.loc[begin_mes]
prices_begin

ADANIPORTS     140.881454
APOLLOHOSP     554.583740
ASIANPAINT     293.226044
AXISBANK       220.030518
BAJAJ-AUTO    1389.293823
BAJFINANCE      73.006119
BAJAJFINSV     627.380859
BHARTIARTL     305.743835
BPCL            65.640823
BRITANNIA      228.379700
CIPLA          303.145813
COALINDIA      151.271408
DIVISLAB       328.789642
DRREDDY       1524.426392
EICHERMOT      163.035324
GRASIM         432.992157
HCLTECH         99.818748
HDFC           576.084045
HDFCBANK       242.366226
HDFCLIFE         0.000000
HEROMOTOCO    1453.584961
HINDALCO       136.885071
HINDUNILVR     319.844604
ICICIBANK      143.679703
INDUSINDBK     297.557190
INFY           285.589691
ITC            107.428658
JSWSTEEL        70.125443
KOTAKBANK      272.198547
LT             494.417450
M&M            325.745117
MARUTI        1152.551636
NESTLEIND     3863.070557
NTPC            99.922203
ONGC           129.691437
POWERGRID       86.022224
RELIANCE       378.089996
SBIN           203.824280
SBILIFE          0.000000
SHREECEM      2680.428223
SUNPHARMA      258.530212
TATAMOTORS     260.189026
TATASTEEL      353.623505
TCS            504.109894
TATACONSUM       0.000000
TECHM          124.520317
TITAN          215.549362
ULTRACEMCO    1356.602783
UPL             91.755531
WIPRO          146.127945
Name: 2012-02-29 00:00:00, dtype: float64

In [31]:
ret12 = prices_end/prices_begin-1

In [32]:
ret12 = ret12.reset_index()

In [33]:
ret12.dropna(inplace=True)

In [35]:
ret12['quantiles'] = pd.qcut(ret12.iloc[:,1],10,labels=False)
ret12

         index         0  quantiles
0   ADANIPORTS  0.017347          2
1   APOLLOHOSP  0.397157          8
2   ASIANPAINT  0.435156          8
3     AXISBANK  0.297541          6
4   BAJAJ-AUTO  0.160183          4
5   BAJFINANCE  0.706538          9
6   BAJAJFINSV  0.343005          7
7   BHARTIARTL -0.024528          1
8         BPCL  0.256481          5
9    BRITANNIA -0.045989          0
10       CIPLA  0.292992          6
11   COALINDIA  0.092497          2
12    DIVISLAB  0.458072          8
13     DRREDDY  0.180725          4
14   EICHERMOT  0.639222          9
15      GRASIM  0.094959          2
16     HCLTECH  0.441535          8
17        HDFC  0.206726          4
18    HDFCBANK  0.252379          5
20  HEROMOTOCO -0.043394          1
21    HINDALCO -0.209781          0
22  HINDUNILVR  0.273916          6
23   ICICIBANK  0.340757          7
24  INDUSINDBK  0.401751          8
25        INFY -0.019777          1
26         ITC  0.507973          9
27    JSWSTEEL  0.104351          3
28   KOTAKBANK  0.238596          5
29          LT  0.193190          4
30         M&M  0.279864          6
31      MARUTI  0.267837          6
32   NESTLEIND  0.088169          2
33        NTPC -0.131512          0
34        ONGC  0.195398          4
35   POWERGRID -0.015677          1
36    RELIANCE  0.096009          3
37        SBIN  0.105904          3
39    SHREECEM  0.608723          9
40   SUNPHARMA  0.314217          7
41  TATAMOTORS  0.120280          3
42   TATASTEEL -0.117025          0
43         TCS  0.114544          3
45       TECHM  0.674310          9
46       TITAN  0.231704          5
47  ULTRACEMCO  0.361057          7
48         UPL -0.126801          0
49       WIPRO -0.033108          1

In [36]:
winners = ret12[ret12.quantiles==9]
lossers = ret12[ret12.quantiles==0]

In [44]:
winners = winners.reset_index().drop('level_0',axis=1)
winners

        index         0  quantiles
0  BAJFINANCE  0.706538          9
1   EICHERMOT  0.639222          9
2         ITC  0.507973          9
3    SHREECEM  0.608723          9
4       TECHM  0.674310          9

In [45]:
lossers = lossers.reset_index().drop('level_0',axis=1)
lossers

       index         0  quantiles
0  BRITANNIA -0.045989          0
1   HINDALCO -0.209781          0
2       NTPC -0.131512          0
3  TATASTEEL -0.117025          0
4        UPL -0.126801          0

In [53]:
def momentumProfit(formation,holding_period=1):
  begin_mes = formation-MonthEnd(12)
  end_mes = formation-MonthEnd(1)
  prices_end = prices.loc[end_mes]
  prices_begin = prices.loc[begin_mes]
  ret12 = prices_end/prices_begin-1
  ret12 = ret12.reset_index().dropna()
  ret12['quantiles'] = pd.qcut(ret12.iloc[:,1],10,labels=False)
  winners = ret12[ret12.quantiles==9]
  winnerret = prices.loc[formation+MonthEnd(holding_period),winners['index']]/prices.loc[formation,winners['index']]

  return np.mean(winnerret)

In [56]:
#backtesting the strategy as given in papers but only for J=12
profits,dates,holding =[],[],[]
for i in (1,3,6):
  for j in prices.index[12:-i]: # we have to start from 12 months of starting as we want past 12 months
    profits.append(momentumProfit(j,i))
    dates.append(j+MonthEnd(i))
    holding.append(i)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [60]:
frame = pd.DataFrame({'MomentumProfits':profits,'HoldingPeriods':holding},index=dates)

In [61]:
frame

            MomentumProfits  HoldingPeriods
2013-02-28         0.976710               1
2013-03-31         0.965230               1
2013-04-30         1.038488               1
2013-05-31         1.076368               1
2013-06-30         0.941212               1
...                     ...             ...
2021-12-31         1.189718               6
2022-01-31         1.119203               6
2022-02-28         0.975965               6
2022-03-31         1.065112               6
2022-04-30         0.943672               6

[326 rows x 2 columns]

In [62]:
#now to get total profits over different holding periods
frame.groupby('HoldingPeriods').mean()

                MomentumProfits
HoldingPeriods
1                      1.020834
3                      1.065964
6                      1.143025